:root.theme-dark {
  --bg-color: #000028;
  --accent-color: #ff0070;
  --additional-color: #db00ff;
  --text-color: #f1b2ce;
  --hover-button-color: rgba(255, 0, 112, 0.4);
}

.theme-dark .header {
  background-image: url('../images/cover-image-dark.png');
}

.theme-dark .rec {
  display: block;
}
