/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 1.125rem;
  line-height: 1.3;
  color: var(--text-color);
  background-color: var(--bg-color);
  background-attachment: fixed;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: var(--page-padding);
  background-image: url('../images/cover-image-dark.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 40px;
}

.decorated-zone::before {
  position: absolute;
  top: var(--page-padding);
  right: var(--page-padding);
  content: '';
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  position: absolute;
  bottom: var(--page-padding);
  left: var(--page-padding);
  content: '';
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.rec {
  position: absolute;
  top: var(--page-padding);
  right: calc(var(--page-padding) + 9px);
  padding-right: 19px;
  text-align: start;
  line-height: 25px;
  color: var(--accent-color);
}

.rec::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.header__theme-menu {
  margin-top: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  padding: 1.5px 13px;
  border: none;
  color: var(--accent-color);
  line-height: 1;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-button-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  font-weight: 700;
  color: var(--additional-color);
}

.title-decor {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
  font-weight: 700;
  color: var(--bg-color);
  background-color: var(--accent-color);
  margin-bottom: 56px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 var(--page-padding);
  margin-bottom: 40px;
}

.content__section {
  display: grid;
  grid-template-rows: repeat(auto-fill, auto);
  gap: 20px;
}

.content__section-title {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--accent-color);
}

.content__section-subtitle {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--bg-color);
  background-color: var(--accent-color);
  margin-top: 20px;
  margin-bottom: 10px;
}

.content__section-subtitle:first-of-type {
  margin-top: 0;
}

.text-link:hover {
  text-decoration: underline;
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: 1px solid var(--text-color);
}

.text-decor {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.tips {
  margin-bottom: 30px;
}

.content__section-tip-title {
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--bg-color);
  background-color: var(--accent-color);
  margin-top: 20px;
  margin-bottom: 10px;
}

.gallery__image {
  margin-top: 10px;
}

.footer {
  position: relative;
  padding: var(--page-padding);
}

.footer-text {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  font-weight: 700;
  color: var(--additional-color);
  text-align: center;
  margin: 275px 0;
}

@media (width >= 768px) {
  .header {
    margin-bottom: 60px;
  }

  .header__theme-menu {
    margin-top: 172px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    width: 50%;
    margin-bottom: 163px;
    margin-left: auto;
  }

  .content {
    gap: 80px;
    margin-bottom: 60px;
  }

  .content__section {
    grid-template-columns: 1fr 2fr;
  }

  .content__section-title_focus {
    grid-column: 1;
    grid-row: 1/-1;
  }

  .content__section-tips_focus {
    grid-column: 1;
    grid-row: 1/-1;
  }

  .concentration {
    grid-column: 1/-1;
  }

  .tips {
    margin-bottom: 60px;
  }

  .gallery {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, min-content);
    gap: 20px;
  }

  .gallery__image {
    margin-top: 0;
    height: 100%;
  }

  .content__section-subtitle_gallery {
    grid-column: 1/-1;
    margin-bottom: 0;
  }

  .gallery__image_sunset {
    grid-column: 1/3;
  }

  .gallery__image_ice-cream {
    grid-column: 3;
    grid-row: 2/4;
  }

  .gallery__image_tape {
    grid-column: 1;
    grid-row: 3/5;
  }

  .gallery__image_street {
    grid-column: 2/4;
  }

  .footer-text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin: 442px 0;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    margin: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
  }

  .header__description {
    margin-bottom: 115px;
  }

  .concentration {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    gap: 10px 20px;
  }

  .concentration .content__section-subtitle {
    margin: 0;
  }

  .footer-text {
    margin: 299px 0;
  }
}
